* {
    box-sizing: border-box;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#title-container {
    background-color: lightseagreen;
}

#body-container {
    display: flex;
    height:100vh;
}

.body-div {
    display: flex;
    flex-direction: column;
}

#right-side {
    width: 85%;
}

#left-side {
    width: 15%;
    background-color: lightblue;
    height:100%;
}

#project-button {
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.button {
    cursor:pointer;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.hover-color:hover {
    background: lightskyblue;
}

#project-title {
    text-align: center;
}

#task-form {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#project-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}